@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

.main {
	width: 80%;
	height: 400px;
	margin: 100px auto;
}

.logo {
	width: 40%;
	height: 100px;
	margin: 0 auto;
}

.logo img {
	width: 50%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.searchbox {
	width: 90%;
	margin: 0 auto;
}

.searchform {
	width: 80%;
	margin: 0 auto;
}

.searchbox input[type="text"] {
	height: 35px;
	margin: 0 auto;
	display: block;
	float: left;
	width: 80%;
}

.searchbox input[type="submit"] {
	height: 35px;
	background-color: transparent;
	border: 1px solid #cccccc;
	display: inline-block;
}
.sortPick {
	width:50%;
	margin-left: 30%;
	margin-top: 5px;
}
.sortPick input[type="radio"]{
	width:10%;
} 
.footer {
	margin-top: 160px;
	color: #1b7bf2;
}

.footer ul {
	width: 80%;
	margin: 0 auto;
	margin-left:25%;
}

.footer ul li {
	display: inline-block;
}
/*  result.jsp */
.nav {
	width: 80%;
	height: 80px;
}

.nav_left {
	width: 20%;
	height: 80px;
	float: left;
}

.nav_left img {
	width: 100%;
	height: 100%;
}

.nav_right {
	height: 80px;
}

.nav_right input[type="text"] {
	height: 31px;
	width: 50%;
	margin-top: 20px;
	margin-left: 3%;
}

.nav_right input[type="submit"] {
	height: 30px;
	background-color: transparent;
	border: 1px solid #cccccc;
	width: 10%;
}

.nav_form {
	margin: 0;
}

.docsMain {
	width: 60%;
	margin-left: 10%;
}

h3 {
	margin: 0 auto;
	padding: 0 auto;
}

.docsNum {
	color: red;
}

.item {
	padding-bottom: 0px;
	border-right: 1px solid #cccccc;
	overflow: hidden;
}

.item a:link, .item a:visited {
	color: #12009e;
	text-decoration: none;
}

.item p a:link, .item p a:visited {
	color: #025616;
	text-decoration: none;
}

.item span {
	color: red;
}

/*paging*/
.paging {
	width: 80%;
	margin: 0px auto;
}

.paging ul {
	list-style: none;
	height: 20px;
}

.paging ul li {
	float: left;
	padding-left: 30px;
}
.paging hr{height:1px;margin:0;width:75%;}
/*footerinfo*/
.footerinfo {
	margin: 5px auto;
	width: 40%;
}