/*

Motion Template

/tm-494-motion

*/
body {
	background-color: #DDDDDD;
	color: black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	overflow-x: hidden;
}

.tm-white { color: #FFFFFF; }

ul { padding: 0; margin: 0; }
figure { margin: 0; }
p:last-child { margin-bottom: 0; }
a { color: #3f97c9; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.tm-brand-icon { 
	padding: 15px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 3rem;
    margin-right: 10px;
}

.container-fluid { width: 100%; } /* IE fix */

.cd-hero-slider .cd-full-width { padding-top: 0; }

.cd-slider-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	z-index: 1002;
	background: none;
}

.cd-slider-nav nav { 
	width: 100%; 
	padding: 0 10px;
}

.cd-slider-nav .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.cd-slider-nav li { 
	display: block;
	float: none;
	width: auto;	
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.tm-navbar { float: right; }
.tm-navbar-bg {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255,255,255,0.7);
	overflow: auto;
}

.navbar-toggler {
	float: right;
	font-size: 1.75rem;
	padding: 1rem 1.5rem;
	background: rgba(255,255,255,0.7);
	border-radius: 0;
	position: absolute;
	right: 20px;
	top: 5px;
}

button:focus { outline: none; }

.cd-slider-nav a.navbar-brand {
	font-size: 2.5rem;
	padding-top: 0;
	padding-bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	width: auto;
}

.cd-slider-nav a { text-transform: capitalize; }
.navbar-nav .nav-item { float: none; }
.navbar-nav .nav-item+.nav-item { margin-left: 0; }

.cd-slider-nav a,
.navbar-nav .nav-link {
	background-color: transparent;
	color: black;
    display: table-cell;
    font-weight: 400;
    font-size: 1em;
	vertical-align: middle;
    width: 130px;
    height: 40px;
}

.cd-slider-nav .nav-item.selected .nav-link,
.cd-slider-nav .nav-link:hover,
.cd-slider-nav .nav-link:focus {
	background-color: rgba(255,255,255,1);
	color: #5394D6;
}

/* Hero Slider */

.cd-hero-slider { height: 100vh; }
.cd-hero-slider li { list-style: none; }
.tm-bg-white-translucent { background-color: rgba(255,255,255,0.8); }
.tm-bg-white-translucent p { color: black; }
.tm-textbox { display: inline-block; }

.cd-hero-slider h2, .cd-hero-slider p {
	max-width: none;
	width: 100%;
}

.cd-hero-slider p { color: black; }

.cd-hero-slider .tm-text { 
	font-size: 1em;
	line-height: 1.8; 
}

.tm-2-col-container { max-width: 800px; }
.tm-3-col-container { max-width: 1280px; }

.tm-2-col-container,
.tm-3-col-container {
	margin: 0 auto;	
}

.tm-2-col-container { padding: 20px 30px; }
.tm-3-col-container { 
	-ms-flex-direction: column; 
	    flex-direction: column;
	padding: 0; 
}

.tm-2-col-textbox { 
	max-width: 600px; 
	-ms-flex: 0 1 auto; 
	    flex: 0 1 auto; /* Fix flexbox in IE 10 bug https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/ */
}

.cd-hero-slider h2.tm-text-title {
	color: #000002;
    font-size: 1.6em;
    font-weight: 400;
}

/* footer */
.tm-social-link {
	background-color: rgba(255,255,255,0.40);
    color: black;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
}

.tm-social-link:last-child { margin-right: 0; }

.tm-footer {
	position: absolute;
	bottom: 0;
	left: 0;	
}

.tm-footer {
    width: 100%;
    color: white;
    z-index: 1001;
    padding: 0 11px 12px;
}

.tm-social-icons-container { margin-bottom: 30px; }

.cd-full-width {
	display: -ms-flexbox;
	display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.cd-hero-slider p:last-child { margin-bottom: 0; }

/* Contact */
.tm-contact-page {
	margin: 0 auto;
	max-width: 1190px;
	padding: 0;
}

.tm-contact-container { max-width: 1150px; }

.form-control,
.tm-submit-btn {
	font-size: 1.8rem;
}
.form-control {
	background-color: rgba(255,255,255,0.7);
	border-radius: 0;
	padding: 1rem 2rem;
}

.form-control::-webkit-input-placeholder { color: #000000; }
.form-control:-moz-placeholder { color: #000000; } /* Firefox 18- */
.form-control::-moz-placeholder { color: #000000; } /* Firefox 19+ */
.form-control:-ms-input-placeholder { color: #000000; }

.form-group { margin-bottom: 1.5rem; }

.tm-submit-btn {
	background-color: #0066CC;
	border: none;
	color: white;
	padding: 5px 20px;
	margin-top: 10px;
	font-weight: 400;
	font-size: 2rem;
}

.tm-submit-btn:hover,
.tm-submit-btn:focus {
	background-color: #2277EE;
}

textarea { height: 168px; }

/* Preloader 
	https://ihatetomatoes.net/create-custom-preloading-screen/
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   #loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; }
   #loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3498db; /* Chrome, Opera 15+, Safari 5+ */
   	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 2001; }
   #loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent;
   	border-top-color: #e74c3c; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
   #loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent;
border-top-color: #f9c922; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
@keyframes spin {
	0%   {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #222222; z-index: 2000;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}

#loader-wrapper .loader-section.section-left { left: 0; }

#loader-wrapper .loader-section.section-right { right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;  
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper { display: none; }
/*============ Preloader ends ==================================*/

.cd-hero-slider.small-screen { height: 100%; }

.tm-navbar {
	position: absolute;
    right: 20px;
    top: 44px;
}

.cd-slider-nav .navbar-nav { background-color: rgba(255,255,255,0.7); }

.cd-slider-nav a, 
.navbar-nav .nav-link { height: 50px; }

.tm-brand-icon { 
	font-size: 2rem;
	padding: 10px;
}

.cd-hero-slider .cd-full-width { text-align: left; }

.tm-2-col-left { padding-right: .9375rem; }
.tm-2-col-right {
	padding-left: .9375rem;
	padding-top: 14px;
}

.cd-full-width .container-fluid { margin-top: -80px; }

.tm-2-col-container-2 {		
	max-width: 830px;
	margin: 0 auto;
}

.tm-2-col-textbox-2 {
	width: 100%;
	padding: 25px;
	margin-bottom: 30px; 
	-ms-flex: 0 1 auto; 
	    flex: 0 1 auto; 
	        /* Fix flexbox in IE 10 bug https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/ */
}

.tm-2-col-textbox-2:last-child { margin-bottom: 0; }

.tm-3-col-textbox { 
	max-width: 100%; 
	margin-bottom: 20px;
	margin-right: 0;
	-ms-flex: 0 1 auto;
	    flex: 0 1 auto;	
}

.tm-3-col-textbox:last-child { 
	margin-bottom: 0;
	margin-right: 0; 
}

/* Gallery */
.grid-item {
	margin-bottom: 20px;
	padding-left: 1px;
	padding-right: 1px;
	float: left;
	width: 100%;
}

.grid-item:last-child { margin-bottom: 0; }

.tm-img-gallery-container {
	max-width: 340px;
    margin: 0 auto;
}

.tm-img-gallery {
	margin: 0 auto 10px;
	display: inline-block;
}

.tm-img-gallery-info-container {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	padding: 30px 1px;	
}

.tm-img {
	max-width: 320px;
  	width: 100%;
  	height: auto;
  	border: 10px solid #ffffff;
  	margin: 0 auto;
}

.tm-textbox-padding { padding: 35px 30px; }

.cd-hero-slider h2.tm-contact-info {
	color: black;
	font-size: 1.4em;
}

#google-map {
    height: 430px;
    width: 100%;    
}

.col-xs-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.tm-copyright-text {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 5px 12px;
    width: 100%;
}

.tm-footer { padding: 50px 11px 20px; }

.cd-hero-slider .cd-bg-video-wrapper { z-index: -1000; }

.tm-footer-link { color: white; }
.tm-footer-link:hover,
.tm-footer-link:focus {
	color: yellow;
}

.tm-form-group-left { 
	padding-left: 0; 
	padding-right: 0;
}
.tm-form-group-right { 
	padding-right: 0;
	padding-left: 0; 
}

/* Media Queries */
@media only screen and (min-width: 480px) {
	.cd-full-width .container-fluid { margin-top: -80px; }
	.tm-2-col-container { padding: 50px; }
	.cd-hero-slider h2.tm-text-title { font-size: 1.8em; }
	.tm-textbox-padding { padding: 30px 40px; }
	.tm-textbox-padding-contact { padding: 30px; }
	.tm-img-gallery-container { 
		margin: 40px auto 20px;
		max-width: 690px; 
	}
	
	.grid-item {
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
	}

	.tm-img-gallery-info-container {
		padding: 0 11px 30px;
		max-width: 700px;
		margin: 0 auto 0 0;
	}
}

@media only screen and (min-width: 600px) {
	.tm-footer {
		padding: 50px 30px 20px;
	}

	.tm-copyright-text { width: auto; }
}

@media only screen and (min-width: 720px) {
	
	.tm-footer { 
		-ms-flex-direction: row; 
			flex-direction: row; 
	}

	.tm-copyright-text { margin-top: 0; }
}

@media only screen and (min-width: 768px) {

	.cd-slider-nav .nav-item.selected .nav-link,
	.cd-slider-nav .nav-link:hover,
	.cd-slider-nav .nav-link:focus {
		background-color: rgba(255,255,255,0.7);
	}

	.cd-hero-slider .cd-full-width { padding-top: 0; }

	.tm-2-col-textbox {	
		margin-bottom: 0;
		margin-right: 0;
	}

	.tm-2-col-textbox:last-child { margin-right: 0;	}	

	.tm-2-col-left { padding-right: 25px; }
	.tm-2-col-right { 
		padding-left: 25px; 
		padding-top: 0;
	}

	.tm-flex { 
		display: -ms-flexbox; 
		display: flex;
		-ms-flex-pack: center;
		    justify-content: center;
	}

	.tm-2-col-textbox-2 {	
		margin-bottom: 0;
		margin-right: 30px;
		width: 100%;
	}

	.tm-2-col-textbox-2:last-child { margin-right: 0; }

	.tm-form-group-left { 
		padding-left: 0; 
		padding-right: 10px;
	}
	.tm-form-group-right { 
		padding-right: 0;
		padding-left: 10px; 
	}
}

@media only screen and (min-width: 900px) {
	.tm-3-col-container {
		-ms-flex-direction: row;
		    flex-direction: row;
	}

	.tm-3-col-textbox {
		margin-right: 15px;
		margin-bottom: 0;
		max-width: 400px;
	}
}

@media only screen and (min-width: 992px) {
	.tm-navbar-bg { 
		padding-left: 25px; 
		padding-right: 0;
	}

	.tm-navbar {
		position: static;
		height: auto !important;		
	}

	.cd-slider-nav .navbar-nav {
		background: transparent;
		display: -ms-flexbox;
		display: flex;
	}

	.cd-slider-nav li {	
		display: inline-block; 
		width: auto;
		height: auto;
	}

	.cd-slider-nav a, 
	.navbar-nav .nav-link {
		height: 80px;
	}

	.tm-social-icons-container { margin-bottom: 20px; }

	.cd-full-width .container-fluid {
		margin-top: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.tm-3-col-textbox { 
		margin-right: 30px;
		margin-bottom: 0;
	}

	.tm-img-gallery-container { max-width: 1035px; }
	.grid-item { width: 33.3333%; }
}

@media only screen and (min-width: 1063px) {
	.cd-slider-nav { top: 30px; }
	.cd-slider-nav nav { padding: 0 30px; }
	.tm-brand-icon { margin-right: 15px; }
	.tm-3-col-container { padding: 25px; }
	.tm-contact-page { padding: 20px; }
}

@media only screen and (min-width: 1170px) {
	
	.cd-hero-slider h2, .cd-hero-slider p { margin-bottom: 30px; }
	.cd-hero-slider h2.tm-gallery-title { margin-bottom: 25px; }
	.cd-hero-slider p:last-child { margin-bottom: 0; }
	.cd-hero-slider .cd-full-width { padding-top: 0; }
	.cd-hero-slider .tm-text { font-size: 1em; }
	.tm-img-gallery-container { max-width: 1360px; }
	.grid-item { width: 25%; }
}

@media only screen and (min-width: 1333px) {
	.cd-slider-nav a,
	.navbar-nav .nav-link {
		font-size: 1.2em;
		width: 160px;
		
	}
	.cd-slider-nav a.navbar-brand { font-size: 3.5rem; }

	.tm-brand-icon { 
		font-size: 3rem;
    	padding: 10px;
		margin-right: 25px;
	}
	.tm-navbar-bg { padding-left: 30px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tm-2-col-textbox-2 { margin-right: 15px; }
	#google-map { height: 520px; }
}
